backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
decorator==5.0.9
idna==2.10
ipdb==0.13.7
ipython==7.23.1
ipython-genutils==0.2.0
jedi==0.17.2
matplotlib-inline==0.1.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.18
ptyprocess==0.7.0
Pygments==2.9.0
python-http-client==3.3.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
requests==2.25.1
selenium==3.141.0
sendgrid==6.7.0
starkbank-ecdsa==1.1.0
toml==0.10.2
traitlets==5.0.5
ujson==4.0.2
urllib3==1.26.4
wcwidth==0.2.5
